body{
    background-color: black;
}

h1,h3{
    margin: 0%;
    color: darkorange;
    text-shadow: 2px 2px 5px lightgray;
}

h1{
    font-size: 36pt;
}

a{
    text-decoration: none;
    color: darkorange;
    
}

ul{
    width: 200px;
}

li{
    font-size: 16pt;
    text-shadow: 4px 4px 5px lightgray;
}

#card{
    width: 800px;
    height: 450px;
    box-sizing: border-box;
    padding: 30px 40px;
    margin: auto;
    margin-top: 100px;
    background: url(./images/background.webp) no-repeat;
    background-size: cover;
   
}

.whatsapp{
    list-style-image: url(./images/WhatsApp_s.png);
}

.instagram{
    list-style-image: url(./images/Instagram_s.png);
}

.email{
    list-style-image: url(./images/gmail_logo.png);
}

.img {
    background-color: blue;
    margin-left: 100%;  
}